<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <title>INJECT TITLE</title> -->
  <link rel="stylesheet" href="/character.css">

</head>
<body>
  <h1><%= character.name %></h1>

  <div class="card">
    <div class="row">
      <div class="label">Type</div>
      <%=character.type%>
    </div>

    <div class="row">
      <div class="label">Trait</div>
      <%=character.trait%>
    </div>

    <div class="row">
      <div class="label">Alignment</div>
      <%=character.Alignment%>
    </div>

    <div class="row">
      <div class="label">Description</div>
      <%=character.name%> is known to be a <%=character.trait%> <%=character.type%> with a <%=character.Alignment%> alignment!
    </div>

    <a class="button" href="/">← Back</a>
  </div>

</body>
</html>
